body {
	height: 800px;
}

.mimi-tips {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 1em;
    text-decoration: none;
}

#close-mimi {
    text-decoration: none;
}

.mimi-wrapper {
	position: fixed;
	height: 240px;
	width: 320px;
	box-shadow: 1px 1px 5px 1px #CCC;
	padding: 0.80rem;
	right: 0;
	margin-right: 15px;
	z-index: 1200;
	border-radius: 5px;
	font-size: 12px;
	font-family: sans-serif;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

label {
    margin-bottom: 5px;
}

.mimi-form {

}

.tech-image {
    border-radius: 4px;
}

.form-message {
    text-align: center;
}

.mimi-error-alert {
    color: #f04;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.mimi-success-alert {
    color: #291;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.mimi-textarea {
    padding: 10px;
    border:1px solid #CCC;
    border-radius: 4px;
    resize: none;
    width: 300px;
    height: 100%;
}

.mimi-btn {
    padding: 10px;
    border-radius: 4px;
    border:1px solid #CCC;
    cursor: pointer;
}

.mimi-btn:hover {
    border:1px solid #2ac;
    color: #2ac;
}

.mimi-input {
    /*padding-top: 5px;*/
    padding-bottom: 5px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
